- var title                  = "Land Ho Parties";
- var description            = "Land Ho presenta Land Ho Parties!";
- var themeColor             = "#000";
- var googleSiteVerification = "";
- var image                  = "../img/social-thumbnail.jpg";
